---
---  
// Text  
$section-headings-color: #155799 !default;  

@import "{{ site.theme }}";

.main-content {  

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $section-headings-color;
  }  
}

.page-header{  
  background: #000000 url(hack_hoverboard_banniere.jpeg) 100% 100% no-repeat;  
}
