---
---  
// Text  
$section-headings-color: #155799 !default;  

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(20deg, $header-bg-color-secondary, $header-bg-color);

  @include small {
    padding: 2rem 1rem;
  }
}
