---
---  

// Headers  
$header-bg-color: #155799 !default;  
$header-bg-color-secondary: #155799 !default;  
  
// Text  
$section-headings-color: #155799 !default;  

@import 'jekyll-theme-cayman';  


