---
---  
// Text  
$section-headings-color: #155799 !default;  

@import "{{ site.theme }}";

.main-content {  

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $section-headings-color;
  }  
}

.page-header{  
   background: url("hack_hoverboard_banniere.jpeg") no-repeat top center;
   background-size: cover; 
     @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
